<div class="spacer">
    <h2>{{title}}
        <div class="controls">
            <a href="/article/edit/{{article._id}}">[edit]</a>
            <a href="/article/delete/{{article._id}}">[delete]</a>
        </div>
    </h2>
    <article>
       {{description}}
    </article>
</div>
